<div class="contenedor-principal">
  <!-- Contenedor general para la página del listado de tarifas -->
  <div class="contenedor">
    <!-- Título del listado de tarifas -->
    <h2 class="centrar-texto mb-4">Listado de Tarifas</h2>
  
    <!-- Lista dinámica de tarifas -->
    <ul>
      <!-- Iteración sobre las tarifas con *ngFor -->
      <li *ngFor="let tarifa of tarifas; trackBy: trackById" class="grupo-form mb-4">
        <!-- Información del nombre de la tarifa -->
        <div>
          <strong>Nombre de la Tarifa:</strong> {{ tarifa.nombretarifa }}
          <!-- Campo de edición del nombre de la tarifa -->
          <input 
            type="text" 
            [(ngModel)]="tarifa.nombretarifa" 
            placeholder="Editar nombre de la tarifa" 
            class="campo-formulario"
          >
        </div>
    
        <!-- Información del costo de la tarifa -->
        <div>
          <strong>Costo:</strong> {{ tarifa.costo }}
          <!-- Campo de edición del costo -->
          <input 
            type="number" 
            [(ngModel)]="tarifa.costo" 
            placeholder="Editar costo" 
            class="campo-formulario"
          >
        </div>
    
        <!-- Información de la duración de la tarifa -->
        <div>
          <strong>Duración (en días):</strong> {{ tarifa.duracion }}
          <!-- Campo de edición de la duración -->
          <input 
            type="number" 
            [(ngModel)]="tarifa.duracion" 
            placeholder="Editar duración" 
            class="campo-formulario"
          >
        </div>
    
        <!-- Botón para actualizar la tarifa -->
        <button 
          (click)="actualizarTarifa(tarifa)" 
          class="btn-primario"
        >
          Actualizar
        </button>

        <!-- Botón para eliminar la tarifa -->
        <button 
          (click)="eliminarTarifa(tarifa.id)" 
          class="btn-primario"
        >
          Eliminar
        </button>
        <!-- Separador entre elementos de la lista -->
        <hr>
      </li>
    </ul>

    <!-- Botón para regresar a la página de agregar tarifas -->
    <button 
      [routerLink]="['/tarifas']" 
      class="btn-primario"
    >
      Regresar
    </button>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <!-- Sección del logo -->
    <div class="footer-logo">
      <img src="https://img.icons8.com/?size=100&id=XypnmNkyfZhP&format=png&color=000000" alt="Logo" class="logo">
      <p>PARKING-UPS</p>
    </div>

    <!-- Sección de contacto -->
    <div class="footer-contact">
      <h4>Contáctanos:</h4>
      <p>+593 96 360 8456</p>
      <p>+593 98 245 1347 </p>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer-links">
      <h4>¿Quiénes somos?</h4>
      <ul>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de políticas -->
    <div class="footer-policies">
      <h4>Términos y condiciones</h4>
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política y condiciones</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer-social">
      <h4>Síguenos:</h4>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook"></a>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000" alt="Instagram"></a>
    </div>
  </div>
</footer>