<div class="contenedor-principal">
  <div class="contenedor">
    <h2 class="centrar-texto mb-4">Listado de Tarifas</h2>
  
    <ul>
      <li *ngFor="let tarifa of tarifas; trackBy: trackById" class="grupo-form mb-4">
        <div>
          <strong>Nombre de la Tarifa:</strong> {{ tarifa.nombretarifa }}
          <input type="text" [(ngModel)]="tarifa.nombretarifa" placeholder="Editar nombre de la tarifa" class="campo-formulario">
        </div>
    
        <div>
          <strong>Costo:</strong> {{ tarifa.costo }}
          <input type="number" [(ngModel)]="tarifa.costo" placeholder="Editar costo" class="campo-formulario">
        </div>
    
        <div>
          <strong>Duración (en días):</strong> {{ tarifa.duracion }}
          <input type="number" [(ngModel)]="tarifa.duracion" placeholder="Editar duración" class="campo-formulario">
        </div>
    
        <button (click)="actualizarTarifa(tarifa)" class="btn-primario">Actualizar</button>
        <button (click)="eliminarTarifa(tarifa.id)" class="btn-primario">Eliminar</button>
        <hr>
      </li>
    </ul>

    <!-- Botón para regresar a la página de agregar tarifas -->
    <button [routerLink]="['/tarifas']" class="btn-primario">Regresar</button>
  </div>
</div>
