.espacio {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #fff;
  margin: 5px;
}

.libre {
  background-color: green;
}

.ocupado {
  background-color: red;
}
