<header>
  <app-home></app-home> <!-- Componente 'app-home' -->
</header>

<div class="contenedor">
  <h1>Vista del Parqueadero</h1>
<hr>
<hr>
<hr>
  <!-- Casilla para ingresar el número de espacio -->
  <div class="grupo-form">
    <label for="numeroEspacio">Número de espacio:</label>
    <input
      id="numeroEspacio"
      type="number"
      [(ngModel)]="numeroEspacio"
      placeholder="Ingresa el número de espacio"
    />
  </div>

  <!-- Botones para agregar o eliminar espacio -->
  <div class="botones">
    <button (click)="agregarEspacio()">Añadir Espacio</button>
    <button (click)="eliminarEspacio()">Eliminar Espacio</button>
  </div>

  <!-- Vista de espacios -->
  <div class="grid-espacios">
    <div
      *ngFor="let espacio of espacios"
      class="espacio"
      [ngClass]="{
        'espacio-disponible': estadoEspacios[espacio.espacio] === 'Disponible',
        'espacio-ocupado': estadoEspacios[espacio.espacio] === 'Ocupado'
      }"
      [routerLink]="['/contratos', espacio.espacio]"
    >
      {{ espacio.espacio }}
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-container">
    <!-- Sección del logo -->
    <div class="footer-logo">
      <img src="https://img.icons8.com/?size=100&id=XypnmNkyfZhP&format=png&color=000000" alt="Logo" class="logo">
      <p>PARKING-UPS</p>
    </div>

    <!-- Sección de contacto -->
    <div class="footer-contact">
      <h4>Contáctanos:</h4>
      <p>+593 96 360 8456</p>
      <p>+593 98 245 1347 </p>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer-links">
      <h4>¿Quiénes somos?</h4>
      <ul>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de políticas -->
    <div class="footer-policies">
      <h4>Términos y condiciones</h4>
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política y condiciones</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer-social">
      <h4>Síguenos:</h4>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook"></a>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000" alt="Instagram"></a>
    </div>
  </div>
</footer>