// Contenedor principal
.vista-parqueadero {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 columnas
  gap: 10px; // Espacio entre los elementos
  justify-content: center; // Centrar la cuadrícula horizontalmente
  align-items: center; // Centrar los elementos verticalmente
  padding: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Estilos generales para los espacios
.espacio {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;

  // Estados específicos
  &.libre {
    background-color: green;
  }

  &.ocupado {
    background-color: red;
  }
}
