<header>
  <app-home></app-home> <!-- Componente 'app-home' -->
</header>

<div class="contenedor">
  <h2>Vista del Parqueadero</h2>

  <!-- Botón para añadir espacios -->
  <div class="boton">
    <button (click)="agregarEspacio()">Añadir Espacio</button>
  </div>

  <!-- Selector y botón para eliminar espacios -->
  <div class="grupo-form">
    <label for="espacioSeleccionado">Selecciona un espacio para eliminar:</label>
    <select id="espacioSeleccionado" [(ngModel)]="espacioSeleccionado">
      <option *ngFor="let espacio of espacios" [value]="espacio.espacio">
        {{ espacio.espacio }}
      </option>
    </select>
    <button (click)="eliminarEspacio()">Eliminar Espacio</button>
  </div>

  <!-- Vista de espacios -->
  <div class="grid-espacios">
    <div
      *ngFor="let espacio of espacios"
      class="espacio"
      [ngClass]="{
        'espacio-disponible': estadoEspacios[espacio.espacio] === 'Disponible',
        'espacio-ocupado': estadoEspacios[espacio.espacio] === 'Ocupado'
      }"
      [routerLink]="['/contratos', espacio.espacio]"
    >
      {{ espacio.espacio }}
    </div>
  </div>
</div>