.grid-espacios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.espacio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.espacio-disponible {
  background-color: #4caf50; /* Verde */
  color: white;
}

.espacio-ocupado {
  background-color: #f44336; /* Rojo */
  color: white;
}