
<header>
    <app-home></app-home>
  </header>
  <!-- parqueadero.component.html -->
  <div class="container">
    <h1>Vista del Parqueadero</h1>
    
    <div class="parking-lot">
      <!-- Espacios de estacionamiento -->
      <div class="parking-space available">Espacio 1</div>
      <div class="parking-space occupied">Espacio 2</div>
      <div class="parking-space available">Espacio 3</div>
      <div class="parking-space occupied">Espacio 4</div>
      <div class="parking-space available">Espacio 5</div>
      <div class="parking-space occupied">Espacio 6</div>
      <div class="parking-space available">Espacio 7</div>
      <div class="parking-space occupied">Espacio 8</div>
      <div class="parking-space available">Espacio 9</div>
      <div class="parking-space occupied">Espacio 10</div>
      <div class="parking-space available">Espacio 11</div>
      <div class="parking-space occupied">Espacio 12</div>
      <div class="parking-space available">Espacio 13</div>
      <div class="parking-space occupied">Espacio 14</div>
      <div class="parking-space available">Espacio 15</div>
      <div class="parking-space occupied">Espacio 16</div>
    </div>
  
    <!-- Área de Entrada -->
    <div class="entrance">
      Entrada
    </div>
    
    <!-- Área de Salida -->
    <div class="exit">
      Salida
    </div>
    
    <!-- Área de Pago -->
    <div class="payment-area">
      Área de Pago
    </div>
  </div>
  