<!-- Encabezado del sitio -->
<header>
  <!-- Componente Angular para el encabezado -->
  <app-home></app-home>
</header>

<!-- Contenedor principal -->
<div class="contenedor">
  <!-- Tarjeta para la sección de gestión de tarifas -->
  <div class="tarjeta">
    <!-- Título de la tarjeta -->
    <h2 class="centrar-texto mb-4">Gestión de Tarifas</h2>

    <!-- Campo para el nombre de la tarifa -->
    <div class="grupo-form mb-3">
      <label for="nombretarifa">Nombre de la Tarifa:</label>
      <!-- Input para ingresar el nombre de la tarifa, vinculado a la propiedad `nombretarifa` del modelo `nuevaTarifa` -->
      <input 
        type="text" 
        id="nombretarifa" 
        placeholder="Escribe el nombre de la tarifa..." 
        [(ngModel)]="nuevaTarifa.nombretarifa" 
        class="campo-formulario"
        required
      >
    </div>

    <!-- Campo para el costo de la tarifa -->
    <div class="grupo-form mb-3">
      <label for="costo">Costo:</label>
      <!-- Input de tipo numérico para ingresar el costo de la tarifa -->
      <input 
        type="number" 
        id="costo" 
        placeholder="Ingrese el costo..." 
        [(ngModel)]="nuevaTarifa.costo" 
        class="campo-formulario"
        required
      >
    </div>

    <!-- Campo para la duración de la tarifa -->
    <div class="grupo-form mb-3">
      <label for="duracion">Duración (en días):</label>
      <!-- Input de tipo numérico para ingresar la duración en días -->
      <input 
        type="number" 
        id="duracion" 
        placeholder="Ingrese la duración en días..." 
        [(ngModel)]="nuevaTarifa.duracion" 
        class="campo-formulario"
        required
      >
    </div>

    <!-- Botón para agregar una nueva tarifa -->
    <button (click)="agregarTarifa()" class="btn-primario">Agregar Tarifa</button>

    <hr>

    <!-- Botón para navegar al listado de tarifas -->
    <button [routerLink]="['/tarifas-list']" class="btn-primario">Ver Listado de Tarifas</button>
  </div>
</div>
