<div class="contenedor">
    <div class="tarjeta">
      <h2 class="centrar-texto mb-4">Registrar Usuario</h2>
      <form>
        <div class="grupo-form mb-3">
          <label for="nombre">Nombre:</label>
          <input type="text" class="campo-formulario" id="nombre" placeholder="Ingrese su nombre">
        </div>
        <div class="grupo-form mb-3">
          <label for="email">Correo Electrónico:</label>
          <input type="email" class="campo-formulario" id="email" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="grupo-form mb-3">
          <label for="contrasena">Contraseña:</label>
          <input type="password" class="campo-formulario" id="contrasena" placeholder="Ingrese su contraseña">
        </div>
        <div class="grupo-form mb-4">
          <label for="confirmar-contrasena">Confirmar Contraseña:</label>
          <input type="password" class="campo-formulario" id="confirmar-contrasena" placeholder="Confirme su contraseña">
        </div>
        <button type="submit" class="btn-primario">Registrar</button>
      </form>
    </div>
  </div>
  