body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 20px;
}

.centrar-texto {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.tarjeta {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  text-align: left;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container {
  flex: 1 1 100%; /* Ocupa el 100% del ancho del contenedor */
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.campo-formulario {
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.campo-formulario:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn-primario {
  width: 100%;
  max-width: 1000px;
  background-color: #b04f4f;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.btn-primario:hover {
  background-color: #933e3e;
}

.btn-secundario {
  width: 100%;
  max-width: 1000px;
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.btn-secundario:hover {
  background-color: #999;
}
