<!-- Encabezado del sitio -->
<header>
  <!-- Componente Angular que probablemente gestiona la barra de navegación o elementos del encabezado -->
  <app-home></app-home>
</header>

<!-- Separación visual -->
<br>
<br>

<!-- Contenedor para el encabezado de la página -->
<div class="header">
  <!-- Título principal del sistema -->
  <h1>Gestión de Parqueadero UPS</h1>
  <!-- Descripción del sistema -->
  <p>¡Bienvenido a la plataforma de gestión de parqueadero de la Universidad Politécnica Salesiana (UPS)! Este sistema facilita el control de espacios, contratos de alquiler, y gestión de usuarios, optimizando la organización y administración del parqueadero universitario.</p>
</div>

<!-- Contenedor principal de contenido -->
<main>
  <!-- Contenedor para la imagen animada -->
  <div class="gif-container">
    <!-- Imagen animada que representa un parqueadero -->
    <img src="https://i.pinimg.com/originals/47/a0/cd/47a0cd0161a992d68310a1f2be256aec.gif" alt="Gif de parqueadero">
  </div>
</main>
