body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  min-height: 100vh;
}

.tarjeta {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

h2.centrar-texto {
  margin-bottom: 30px;
}

.grupo-form {
  margin-bottom: 20px;
  text-align: left;
}

.grupo-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.grupo-form input,
.grupo-form select {
  width: 1000px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.grupo-form input:focus,
.grupo-form select:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn-primario {
  width: 100%;
  max-width: 850px;
  background-color: #b04f4f;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 20px;
}

.btn-primario:hover {
  background-color: #357ab7;
}

button[routerLink] {
  width: 100%;
  max-width: 850px;
  background-color: #357ab7;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}

button[routerLink]:hover {
  background-color: #5a8bc2;
}

.grupo-form select#estado {
  width: 100%;
  max-width: 1000px; /* Reducir ancho solo para este select */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.grupo-form select#estado:focus {
  border-color: #4a90e2;
  outline: none;
}