<header>
  <app-home></app-home>
</header>

<div class="contenedor-principal">
<div class="contenedor">
  <div class="tarjeta">
    <h2 class="centrar-texto mb-4">Gestión de Contratos</h2>

    <div class="grupo-form mb-3">
      <label for="cliente">Cliente:</label>
      <input
        type="text"
        id="cliente"
        placeholder="Nombre del cliente..."
        [(ngModel)]="nuevoContrato.cliente"
        class="campo-formulario"
      />
    </div>

    <div class="grupo-form mb-3">
      <label for="placa">Placa:</label>
      <input
        type="text"
        id="placa"
        placeholder="Placa del vehículo..."
        [(ngModel)]="nuevoContrato.placa"
        class="campo-formulario"
      />
    </div>

    <div class="grupo-form mb-3">
      <label for="fechaInicio">Fecha de Inicio:</label>
      <input
        type="date"
        id="fechaInicio"
        [(ngModel)]="nuevoContrato.fechaInicio"
        class="campo-formulario"
      />
    </div>

    <div class="grupo-form mb-3">
      <label for="fechaFin">Fecha de Fin:</label>
      <input
        type="date"
        id="fechaFin"
        [(ngModel)]="nuevoContrato.fechaFin"
        class="campo-formulario"
      />
    </div>

    <div class="grupo-form mb-3">
      <label for="numeroespacio">Número de Espacio:</label>
      <input
        type="text"
        id="numeroespacio"
        [(ngModel)]="nuevoContrato.numeroespacio"
        class="campo-formulario"
        readonly
      />
    </div>

    <div class="grupo-form mb-3">
      <label for="montoMensual">Monto Mensual:</label>
      <input
        type="number"
        id="montoMensual"
        placeholder="Monto mensual..."
        [(ngModel)]="nuevoContrato.montoMensual"
        class="campo-formulario"
      />
    </div>

    <div class="grupo-form">
      <label for="estado"><strong>Estado:</strong></label>
      <select id="estado" [(ngModel)]="nuevoContrato.estado" class="campo-formulario">
        <option value="Disponible">Disponible</option>
        <option value="Ocupado">Ocupado</option>
      </select>
    </div>

    <button (click)="agregarContrato()" class="btn-primario">Agregar Contrato</button>
    <hr />
    <button [routerLink]="['/contratos-list']" class="btn-primario">Ver Listado de Contratos</button>
  </div>
</div>
</div>

<footer class="footer">
  <div class="footer-container">
    <!-- Sección del logo -->
    <div class="footer-logo">
      <img src="https://img.icons8.com/?size=100&id=XypnmNkyfZhP&format=png&color=000000" alt="Logo" class="logo">
      <p>PARKING-UPS</p>
    </div>

    <!-- Sección de contacto -->
    <div class="footer-contact">
      <h4>Contáctanos:</h4>
      <p>+593 96 360 8456</p>
      <p>+593 98 245 1347 </p>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer-links">
      <h4>¿Quiénes somos?</h4>
      <ul>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de políticas -->
    <div class="footer-policies">
      <h4>Términos y condiciones</h4>
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política y condiciones</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer-social">
      <h4>Síguenos:</h4>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook"></a>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000" alt="Instagram"></a>
    </div>
  </div>
</footer>