body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.tarjeta {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 80px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.grupo-form {
  margin-bottom: 20px;
}

.grupo-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.grupo-form input {
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.grupo-form input:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn-primario {
  width: 850px ;
  max-width: 1000px;
  background-color: #b04f4f;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-primario:hover {
  background-color: #357ab7;
}
