body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima igual a la altura de la ventana */
}

/* Contenido principal que crecerá según sea necesario */
.content {
  flex: 1; /* Ocupa todo el espacio disponible entre el header y el footer */
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo con transparencia */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra para un toque moderno */
}

// Contenedor interior
.contenedor {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin-bottom: 400px;
}

.tarjeta {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.grupo-form {
  margin-bottom: 20px;
}

.grupo-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.grupo-form input {
  width: 100%; /* Ocupa el 100% del contenedor */
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.grupo-form input:focus {
  border-color: #4a90e2;
  outline: none;
}

.btn-primario {
  width: 850px;
  max-width: 1000px;
  background-color: #b04f4f;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn-primario:hover {
  background-color: #357ab7;
}

ul {
  padding: 0;
  list-style: none; /* Quita los puntos de lista */
}

li.grupo-form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre los campos del contrato */
  margin-bottom: 25px;
}

li.grupo-form strong {
  font-weight: bold;
  color: #333;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #f44336; /* Rojo para el botón de eliminar */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

button:hover {
  background-color: #e53935;
}

button:focus {
  outline: none;
}

button[routerLink] {
  background-color: #4a90e2; /* Azul para el botón de regresar */
  width: auto;
  padding: 5px 0px;
  font-size: 16px;
  margin-top: 0px; /* Reduce el margen superior */
}

button[routerLink]:hover {
  background-color: #357ab7;
}

.btn-regresar {
  align-self: center; /* Asegura que el botón de regreso esté centrado */
  margin-top: 20px; /* Ajuste el margen superior para reducir el espacio */
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0px 0;
}

/* Footer */
.footer {
  background-color: #4253e9;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw; /* Asegura que el footer ocupe toda la ventana */
  margin-top: auto; /* Empuja el footer al final si hay poco contenido */
  box-sizing: border-box; /* Evita problemas de padding o border */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo .logo {
  width: 50px;
  margin-bottom: 10px;
}

.footer-contact,
.footer-links,
.footer-policies,
.footer-social {
  margin: 10px 20px;
}

.footer-links ul,
.footer-policies ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-policies li {
  margin: 5px 0;
}

.footer-links a,
.footer-policies a {
  color: white;
  text-decoration: none;
}

.footer-social a {
  margin: 0 10px;
}

.footer-social img {
  width: 25px;
  height: 25px;
}

.footer-social a:hover,
.footer-links a:hover,
.footer-policies a:hover {
  text-decoration: underline;
}