<header>
  <app-home></app-home>
</header>

<div class="contenedor-principal">
<div class="contenedor">
  <h2 class="centrar-texto mb-4"></h2>

  <div class="tarjeta">
    <div class="form-row">
      <div class="form-container">
        <h2 class="centrar-texto mb-4">Actualizar Perfil</h2>
        <label for="editar-email">Correo Electrónico:</label>
        <li><strong>Email:</strong> {{usuario.email}}</li>
        <input type="text" class="campo-formulario" id="editar-email" placeholder="Escribe el correo electrónico..." [(ngModel)]="usuario.email">
      </div>
      
      <div class="form-container">
        <label for="editar-lastname">Apellido:</label>
        <li><span><strong>Apellido:</strong> {{usuario.lastName}}</span></li>
        <input type="text" class="campo-formulario" id="editar-lastname" placeholder="Ingrese el apellido" [(ngModel)]="usuario.lastName">
      </div>

      <div class="form-container">
        <label for="editar-names">Nombre:</label>
        <li><span><strong>Nombre:</strong> {{usuario.names}}</span></li>
        <input type="text" class="campo-formulario" id="editar-names" placeholder="Ingrese el nombre" [(ngModel)]="usuario.names">
      </div>

      <div class="form-container">
        <label for="nueva-contrasena">Nueva Contraseña:</label>
        <input type="password" class="campo-formulario" id="nueva-contrasena" placeholder="Escribe la nueva contraseña..." [(ngModel)]="usuario.contrasenia">
      </div>
   
    </div>
    <button (click)="guardar()" class="btn-primario">Guardar Cambios</button>
  </div>
</div>
</div>


<footer class="footer">
  <div class="footer-container">
    <!-- Sección del logo -->
    <div class="footer-logo">
      <img src="https://img.icons8.com/?size=100&id=XypnmNkyfZhP&format=png&color=000000" alt="Logo" class="logo">
      <p>PARKING-UPS</p>
    </div>

    <!-- Sección de contacto -->
    <div class="footer-contact">
      <h4>Contáctanos:</h4>
      <p>+593 96 360 8456</p>
      <p>+593 98 245 1347 </p>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer-links">
      <h4>¿Quiénes somos?</h4>
      <ul>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de políticas -->
    <div class="footer-policies">
      <h4>Términos y condiciones</h4>
      <ul>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Política y condiciones</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer-social">
      <h4>Síguenos:</h4>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000" alt="Facebook"></a>
      <a href="#"><img src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000" alt="Instagram"></a>
    </div>
  </div>
</footer>