<header>
  <app-home></app-home>
</header>

<div class="contenedor">
  <h2 class="centrar-texto mb-4"></h2>

  <div class="tarjeta">
    <div class="form-row">
      <div class="form-container">
        <li><strong>Email:</strong> {{usuario.email}}</li>
        <input type="text" class="campo-formulario" id="editar-email" placeholder="Escribe el correo electrónico..." [(ngModel)]="usuario.email">
      </div>
      
      <div class="form-container">
        <li><span><strong>Apellido:</strong> {{usuario.lastName}}</span></li>
        <input type="text" class="campo-formulario" id="editar-lastname" placeholder="Ingrese el apellido" [(ngModel)]="usuario.lastName">
      </div>

      <div class="form-container">
        <li><span><strong>Nombre:</strong> {{usuario.names}}</span></li>
        <input type="text" class="campo-formulario" id="editar-names" placeholder="Ingrese el nombre" [(ngModel)]="usuario.names">
      </div>

      <div class="form-container">
        <label for="nueva-contrasena">Nueva Contraseña:</label>
        <input type="password" class="campo-formulario" id="nueva-contrasena" placeholder="Escribe la nueva contraseña..." [(ngModel)]="usuario.contrasenia">
      </div>
   
    </div>
    <button (click)="guardar()" class="btn-primario">Guardar Cambios</button>
  </div>
</div>
